@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: #000;
    overflow-x: hidden;
}
.delay-0 {
    animation-delay: .3s;
}
.delay-1 {
    animation-delay: .7s;
}
.delay-2 {
    animation-delay: .8s;
}
.delay-3 {
    animation-delay: .9s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 1.1s;
}
.delay-6 {
    animation-delay: 1.2s;
}
.loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
        .name, .counter, .percent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #57606f;
            font-size: 3vw;
        }
        .counter {
            top: 55%;
            font-size: 18px;

        }
        .percent {
            top: 55%;
            left: calc(51% + 5px);
            font-size: 18px;
        }
}
header {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
        .background {
            background: url('../img/analogue-aperture-black-and-white-614077.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            height: 100vh;
            width: 100%;
            animation: animateBg forwards 0.9s cubic-bezier(0.46, 0.13, 0.04, 0.99);
        }
        .bg-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            z-index: 1;
            background: transparent;
            background: radial-gradient(ellipse farthest-corner at center center, transparent 0%, #000000 85%);
            background: -webkit-radial-gradient(ellipse farthest-corner at center center, transparent 0%, #000000 85%);
            background: -moz-radial-gradient(ellipse farthest-corner at center center, transparent 0%, #000000 85%);
        }
        .menu {
            height: 70vh;
            width: 100%;
            background: #000;
            position: fixed;
            top: -70vh;
            left: 0;
            z-index: 10;
            transition: all 1000ms cubic-bezier(0.69, 0.02, 0.11, 0.97);
            opacity: 0;
                .nav {
                    position: absolute;
                    bottom: 10%;
                    left: 3%;
                        .nav-link {
                            color: #FFF;
                            font-size: 5vw;
                            padding-bottom: 0;
                            padding-top: 0;
                            line-height: 1em;
                        }

                }
                .contact {
                    position: absolute;
                    right: 10%;
                    bottom: 10%;
                    width: 30%;
                        p {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            color: #FFF;
                            letter-spacing: 1px;
                            font-size: .9rem;
                        }
                }

        }
        .menu-open {
            top: 0;
            transition: all 1000ms cubic-bezier(0.69, 0.02, 0.11, 0.97);
            opacity: 1;
        }
        nav {
            height: 10vh;
            background: transparent;
            padding: 3% 10% 3% 10%;
            z-index: 11;
            position: fixed;
            width: 100%;
                .logo {
                    width: 100px;
                    display: inline-block;

                        h1 {
                            color: #d63031;
                            font-size: 1.5em;
                        }
                }
                .burger {
                    width: 55px;
                    height: 50px;
                    display: inline-block;
                    border: 1px solid #d63031;
                    position: relative;
                    overflow: hidden;
                    z-index: 11;
                        .overlay {
                            position: absolute;
                            width: 55px;
                            height: 50px;
                            z-index: 0;
                            background: #7b4397;  /* fallback for old browsers */
                            background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            width: 53px;
                            height: 50px;
                            z-index: 0;
                            transition: transform .8s cubic-bezier(.165,.84,.44,1);
                            transform: translate3d(0,105%,0);
                            opacity: 0;
                            background: #7b4397;  /* fallback for old browsers */
                            background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                        }
                        &:hover:after {
                            transform: translate3d(0,0,0);
                            transition: transform .8s cubic-bezier(.165,.84,.44,1);
                            opacity: 1;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 53px;
                            height: 50px;
                            z-index: 0;
                            transition: transform .8s cubic-bezier(.165,.84,.44,1);
                            transform: translate3d(0,-105%,0);
                            opacity: 1;
                            background: #7b4397;  /* fallback for old browsers */
                            background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                        }
                        &:hover:before {
                            transform: translate3d(0,0,0);
                            transition: transform .8s cubic-bezier(.165,.84,.44,1);
                            opacity: 0;
                        }


                        .line {
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 40%;
                            height: 1px;
                            background: #ffffff;
                            z-index: 11;
                            opacity: 1;
                        }
                        .mid {
                            top: calc(40% + 4px);
                        }
                        .bot {
                            top: calc(40% + 8px);
                        }
                }

        }
        .heading {
            position: absolute;
            bottom: 20%;
            left: 10%;
            width: 50%;
            overflow: hidden;
            z-index: 2;
                h1 {
                    color: #FFF;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        animation: overlay forwards 500ms cubic-bezier(0.77, 0.04, 0.17, 0.98);
                        animation-delay: .4s;
                    }
                }
                p {
                    color: #d8dcdc;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        animation: overlay forwards 500ms cubic-bezier(0.77, 0.04, 0.17, 0.98);
                        animation-delay: .6s;
                    }
                }
                .button-custom {
                    color: #d63031;
                    position: relative;
                    letter-spacing: 2px;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        animation: overlay forwards 500ms cubic-bezier(0.77, 0.04, 0.17, 0.98);
                        animation-delay: .7s;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -110%;
                        height: 1px;
                        width: 100%;
                        background: #d63031;
                        transition: all 300ms ease-in-out;
                    }
                    &:hover:before {
                        left: 0;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
        }
}

main {
    min-height: 100vh;
    position: relative;
    z-index: 2;
        .imgs {
            width: 100%;
            height: 100vh;
            margin: 0;
                .left, .right {
                    height: 100%;
                    position: relative;
                        .img-wrap {
                            width: 80%;
                            height: 90%;
                            margin: 0 auto;
                            overflow: hidden;

                                img {
                                    width: 100%;
                                    object-fit: cover;
                                }
                        }

                }
                .left {
                    background:#222222;
                    padding-top: 10vh;
                        .img-wrap {
                            background: #000;
                        }
                }
                .right {
                    background: #1A1A1A;
                    padding-top: 30vh;
                    height: 120%;
                        .img-wrap {
                            background: #000;
                            height: 110%;
                        }
                }
        }
        .info {
            height: 100vh;
            width: 100%;
            margin: 0;
            background: #1A1A1A;
                .left-text {
                    padding-top: 30vh;
                        .text-wrap {
                            width: 70%;
                            margin: 0 auto;
                            overflow: hidden;
                                p {
                                    color: #FFF;
                                }
                                a {
                                    color: #d63031;
                                    position: relative;
                                    letter-spacing: 2px;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: -110%;
                                        height: 1px;
                                        width: 100%;
                                        background: #d63031;
                                        transition: all 300ms ease-in-out;
                                    }
                                    &:hover:before {
                                        left: 0;
                                    }
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                        }

                }
                .red {
                    position: relative;
                    top: 50vh;
                    height: 60vh;
                    background: #d63031;
                }
        }
        .contact {
            height: 70vh;
            width: 100%;
            margin: 0;
            background: #1A1A1A;
        }
}
footer {
    height: 60vh;
    background: #222222;
    padding: 10%;
    .mark {
        color: #d63031;
        background: transparent;
    }
    a,p {
        color: #d8dcdc;
    }
    a {
        transition: 300ms;
        padding-top: 0 !important;
        padding-bottom: 5px !important;
        &:hover {
            color: #c3c3c3;
            transition: 300ms;
        }
    }
    .form-div {
        .form-control {
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }
        .text-wrap {
            overflow: hidden;
        }
        a {
            color: #d63031;
            position: relative;
            letter-spacing: 2px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -110%;
                height: 1px;
                width: 100%;
                background: #d63031;
                transition: all 300ms ease-in-out;
            }
            &:hover:before {
                left: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .footer-logo {
        color: #d63031;
        font-size: 40px !important;
    }
}




















@keyframes animateBg {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes overlay {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(-110%, 0, 0);
    }
}